<table class="table">
  <tr>
    <td>
      <%= f.label :owner %>
      <%= f.text_area :owner, id: :owner, size: "30x1" %>
    </td>
    <td>
      <%= f.label :repo %>
      <%= f.text_area :repo, id: :repo, size: "30x1" %>
    </td>
    <td>
      <%= f.label :author_email %>
      <%= f.text_area :author_email, id: :author_email, size: "30x1" %>
    </td>
  </tr>
</table>
